h1 , h2 {
    border-bottom: 1px solid #66d9ef;
}

.book.font-family-1 {
    font-family: "Fira Code","Iosevka SS14","思源黑体 HW",sans-serif;
}
.markdown-section code {
        font-size: 12px;
        font-family: "Fira Code","Iosevka SS14","思源黑体 HW",sans-serif;
    }
.book-summary ul.summary li.header {
    color: #ef0993e6;
}
